.login{
  
color: rgb(249, 249, 250); font-size: 15px;
  line-height: 5px;
  padding: 12px; 
  border-radius: 2px;
   font-family: Georgia, serif; font-weight: normal; 

  align-items: center;  
background: #1C6EA4; }
.login:active {
background: #144E75; }

.container {

    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    max-width: 400px;
    margin: 50px auto;
     font-family: Georgia, serif; font-weight: normal; 
   justify-content: center;
}